<mat-grid-list class="cards-list" cols="1" rowHeight="40vh">
        <app-station-card *ngFor="let station of bikestations" stationId={{station.id}} [isListCard]="true">
            <mat-card-title>{{station.properties.label}}</mat-card-title>
            <mat-card-subtitle *ngIf="station.distance">{{station.distance}}m</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!station.distance">----m</mat-card-subtitle>
            <p class="available-bikes">{{station.properties.bikes}}</p>
            <p class="free-racks">{{station.properties.free_racks}}</p>
        </app-station-card>
</mat-grid-list>