<div class="map">
  <div #mapElement></div>
</div>
<div *ngIf="station">
  <app-station-card stationId="{{ station.id }}" [isListCard]="false">
    <mat-card-title>{{ station.properties.label }}</mat-card-title>
    <mat-card-subtitle *ngIf="station.distance">{{ station.distance }}m</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!station.distance">----m</mat-card-subtitle>
    <p class="available-bikes">{{ station.properties.bikes }}</p>
    <p class="free-racks">{{ station.properties.free_racks }}</p>
  </app-station-card>
</div>
