<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile>
    <div class="not-found-wrapper">
      <h1>404</h1>
      <h1>Page not found</h1>
      <button routerLink="/stations" mat-button color="primary">Go back to stations list</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
