<mat-card
  [ngClass]="{ 'station-card': isListCard, 'no-shadow': !isListCard, pointer: isListCard }"
  (click)="openStationDetails()">
  <mat-card-header>
    <mat-card-title
      ><ng-content select="mat-card-title"></ng-content
    ></mat-card-title>
    <mat-card-subtitle><ng-content select="mat-card-subtitle"></ng-content
    ></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="station-card-content">
    <div class="card-col bikes">
      <div aria-label="Bike icon" [inlineSVG]="'/assets/icons/bike-icon.svg'"></div>
      <span>
        Available bikes:
      </span>
      <h1 class="available-bikes">
        <ng-content select=".available-bikes"></ng-content>
      </h1>
    </div>
    <div class="card-col racks">
      <div aria-label="Lock icon" [inlineSVG]="'/assets/icons/lock-icon.svg'"></div>
      <span>
        Available places:
      </span>
      <h1 class="free-racks">
        <ng-content select=".free-racks"></ng-content>
      </h1>
    </div>
  </mat-card-content>
</mat-card>
