.station-card {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
}

.station-card-content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.available-bikes {
  color: #65d197;
}

.free-racks {
  color: #3f3f3f;
}

.card-col {
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: normal;
  }
}

.no-shadow {
  box-shadow: none;
}

.pointer {
  cursor: pointer;
}
